.display-product{
  margin: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-product h2{
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto 30px;
}

.display-product-items{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 220px);
  gap: 25px;
}

.product-item{
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 10px 15px;
}

.img-div{
  position: relative;
  z-index: -1;
}

.img-div .item-image{
  width: 200px;
}

.img-div .on-sale{
  background-color: rgb(137, 235, 196);
  color: white;
  padding: 3px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  left: 20px;
  top: 35px;
}

.button-div{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.button-div button{
  flex: 1;
  height: 40px;
  width: 85%;
  border: 0;
  outline: none;
  padding: 8px 20px;
  background-color: #fc8934;
  color: white;
  border-radius: 7px;
  text-align: center;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.button-div button:hover,
.button-div button:active {
  box-shadow: 0 0 0 2px #fc8934;
}

@media (max-width: 550px) {
  .display-product{
    margin: 30px 10px;
  }

  .display-product-items{
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    gap: 10px;
  }

  .product-item{
    padding: 10px 20px;
  }
  
  .img-div .item-image{
    width: 150px;
  }

  .img-div .on-sale{
    font-size: 10px;
    top: 25px;
  }

  .button-div{
    height: 35px;
  }

  .button-div button{
    font-size: 10px;
    height: 30px;
    width: 120px;
  }
}