.display-product{
  margin: 50px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-product h2{
  font-size: 40px;
  font-weight: 400;
  margin: 0 auto 30px;
}

.display-product-items{
  display: grid;
  justify-items: space-evenly;
  align-items: center;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(220px,1fr));
  gap: 25px;
}

.product-item{
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  padding: 10px 15px;
}

.item-image{
  width: 200px;
}

.button-div{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.button-div button{
  flex: 1;
  height: 40px;
  width: 85%;
  border: 0;
  outline: none;
  padding: 8px 20px;
  background-color: #fc8934;
  color: white;
  border-radius: 7px;
  text-align: center;
  transition: box-shadow 0.5s;
  cursor: pointer;
}

.button-div button:hover,
.button-div button:active {
  box-shadow: 0 0 0 2px #000000;
}

@media (max-width: 550px) {
  .display-product{
    margin: 30px 20px;
  }

  .display-product-items{
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .product-item{
    padding: 10px 20px;
  }
  
  .item-image{
    width: 100px;
  }

  .button-div{
    height: 35px;
  }

  .button-div button{
    font-size: 10px;
    height: 30px;
    width: 120px;
  }
}